DEBUG=
DJANGO_SECRET_KEY="enter your secret key here"
DJANGO_LOGLEVEL=error
DJANGO_ALLOWED_HOSTS="localhost, 127.0.0.1"
DATABASE_ENGINE=postgresql
DATABASE_NAME=clinic_db
SUPERUSER_USERNAME=
SUPERUSER_PASSWORD=
DATABASE_HOST=clinic_db
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_PORT=
